/* set up site-wide fundamentals */
/* google fonts */
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(https://fonts.gstatic.com/s/karla/v5/31P4mP32i98D9CEnGyeX9Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(https://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"), url(https://fonts.gstatic.com/s/lora/v10/I0dEfRgGNE90_hXZq7bjyw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora Regular"), local("Lora-Regular"), url(https://fonts.gstatic.com/s/lora/v10/4vqKRIwnQQGUQQh-PnvdMA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* start with HTML tags */
html, body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  overflow-y: scroll; }

body {
  font-size: 10px;
  margin: 0;
  width: 100%;
  color: #333333; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #FF2200;
  text-decoration: none;
  padding: 2px;
  transition: color .25s;
  -moz-transition: color .25s; }
  a:hover {
    text-decoration: none;
    color: #801E00; }
  a:focus {
    text-decoration: none;
    outline: 1px auto #FF2200;
    color: #801E00; }

p {
  font-family: "Lora", "Palatino", "Georgia", serif;
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 1.2em 0 0 0; }
  p a {
    color: #333333;
    border-bottom: 2px solid #FF2200;
    transition: border-color .25s; }
    p a:hover {
      color: #333333;
      border-color: #545454; }

h2 {
  font-size: 4.2em; }

h3 {
  font-size: 2em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

input {
  border-radius: 0;
  -webkit-appearance: none; }

input:focus, select:focus, textarea:focus {
  outline-color: #FF2200; }

::selection {
  background: rgba(255, 34, 0, 0.99);
  color: white; }

::-moz-selection {
  background: rgba(255, 34, 0, 0.99);
  color: white; }

::webkit-selection {
  background: rgba(255, 34, 0, 0.99);
  color: white; }

.disable-touch {
  touch-action: none; }

.disable-body-scroll {
  height: 100% !important;
  overflow: hidden !important; }

.main-container {
  position: relative; }

.container-medium {
  max-width: 992px;
  margin: 0 auto; }

.container-large {
  max-width: 1200px;
  margin: 0 auto; }

.container-small {
  max-width: 768px;
  margin: 0 auto; }

.flex {
  display: flex;
  flex-wrap: wrap; }

@media (min-width: 768px) {
  p {
    line-height: 1.6em;
    margin: 0 0 1em 0; } }
@media (min-width: 992px) {
  p {
    line-height: 1.7em; } }
/*==========  Javascript window size detection  ==========*/
.pw__xs {
  display: none; }

.pw__sm {
  display: none; }

.pw__md {
  display: none; }

.pw__lg {
  display: none; }

/* Custom, iPhone Retina */
@media (min-width: 480px) {
  style {
    width: 480px; }

  .pw__xs {
    display: inline; } }
/* Extra Small Devices, Phones */
@media (min-width: 768px) {
  style {
    width: 768px; }

  .pw__sm {
    display: inline; } }
/* Small Devices, Tablets */
@media (min-width: 992px) {
  style {
    width: 992px; }

  .pw__md {
    display: inline; } }
/* Medium Devices, Desktops */
@media (min-width: 1200px) {
  style {
    width: 1200px; }

  .pw__lg {
    display: inline; } }
.js .full-screen-home .site-logo, .navbar .site-logo {
  font-family: "Open Sans", "Tahoma", "Verdana", sans-serif;
  background-color: #FF2200;
  color: white;
  display: inline-block; }
  .js .full-screen-home .site-logo:focus, .navbar .site-logo:focus {
    background-color: white;
    color: #FF2200; }

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.main-nav {
  position: relative;
  z-index: 10;
  background-color: white;
  overflow: hidden; }

.nav-wrapper {
  position: relative;
  background: white; }

.no-js .full-screen-home {
  display: none; }

.js .full-screen-home {
  font-family: "Open Sans", "Tahoma", "Verdana", sans-serif;
  position: absolute;
  z-index: 10;
  display: block;
  color: white;
  padding: 3px;
  top: 15px;
  font-size: 14px;
  left: 15px;
  border: none;
  background-color: transparent;
  transition: background-color 0.25s; }
  .js .full-screen-home span {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
  .js .full-screen-home .site-logo {
    letter-spacing: -2px;
    padding: 0 4px 0 3px; }
  .js .full-screen-home:hover, .js .full-screen-home:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none; }

.js .tab-nav {
  font-family: "Open Sans", "Tahoma", "Verdana", sans-serif;
  position: absolute;
  z-index: 10;
  color: white;
  padding: 3px;
  top: 15px;
  font-size: 14px;
  left: 100px;
  border: none;
  background-color: transparent;
  transition: background-color 0.25s;
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none; }
  .js .tab-nav span {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
  .js .tab-nav:hover, .js .tab-nav:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none; }

.navbar.sticky {
  position: fixed;
  -webkit-box-shadow: 0 4px 10px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 10px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 10px -9px rgba(0, 0, 0, 0.75); }

.navbar {
  display: inherit;
  transition: opacity 0.25s;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid #D9D9D9; }
  .navbar .site-logo {
    font-size: 20px;
    letter-spacing: -2px;
    padding: 0 4px 0 3px;
    margin: 7px 0 0 20px; }
  .navbar span {
    float: left;
    display: block;
    text-align: center; }
  .navbar span.nav-button a {
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Karla", "Arial", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    padding: .5em;
    margin: .5em;
    color: #FF2200; }
    .navbar span.nav-button a:hover {
      color: #545454; }

.js .nav-show {
  visibility: visible;
  opacity: 1; }

.js .nav-hide {
  visibility: hidden;
  opacity: 0; }

.js .never-hide {
  visibility: visible !important;
  opacity: 1 !important; }

@media (max-width: 768px) {
  .full-screen-home {
    padding: 3px;
    font-size: 12px; }
    .full-screen-home .site-logo {
      letter-spacing: -2px;
      padding: 0 4px 0 3px; } }
@media (max-width: 480px) {
  .navbar .site-logo {
    display: none; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .story {
    flex: 3 0 60% !important; } }
.cover-page h1 {
  z-index: 1;
  margin: 0;
  color: white;
  font-family: "Open Sans", "Tahoma", "Verdana", sans-serif !important;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  line-height: 1.2em; }

.toc {
  overflow: hidden;
  margin: 200px 0 0 0;
  text-transform: uppercase;
  font-family: "Karla", "Arial", sans-serif;
  text-align: center;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  padding: 1em 0; }
  .toc h3 {
    font-weight: bold;
    margin: 0; }
  .toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .toc li {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: 700;
    text-align: center;
    font-size: 1.6em; }
    .toc li a {
      padding: 0.5em;
      display: inline-block; }

.top-padded-story {
  margin-top: 200px; }

.story {
  flex: 3 0 calc(70% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  position: relative; }
  .story .top-link {
    padding: 0 0.15em;
    margin: 0 0.1em;
    font-size: 1.2em; }
  .story h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Karla", "Arial", sans-serif;
    margin: 20px 0;
    font-size: 3em; }
  .story p:first-child:first-letter {
    float: left;
    font-size: 5.35em;
    line-height: .75em;
    padding-top: .1em;
    padding-right: .1em; }

.sympatheticHover--lower {
  outline: 1px solid #FF2200; }
  .sympatheticHover--lower li {
    color: black !important; }

.sympatheticHover--upper {
  outline: 1px solid #FF2200 !important; }

.keep-reading h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Karla", "Arial", sans-serif; }

@media (min-width: 768px) {
  .toc li {
    font-size: 1.6em; }

  .teaser {
    font-size: 4em; }

  .keepReading .storyContainer {
    border-bottom: none;
    font-weight: normal; } }
@media (max-width: 992px) {
  .story-wrapper .story p:first-child:first-letter {
    padding-top: .07em; } }
@media (max-width: 768px) {
  .story-wrapper .story p:first-child:first-letter {
    font-size: 3.4em;
    padding-top: .12em;
    padding-right: .1em; } }
#scroll-down-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
  background-color: #FF2200;
  font-size: 15px;
  color: white;
  display: none; }

body.locked {
  overflow: hidden;
  position: fixed; }

.scrolldown-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none; }

.top-padded-footnotes {
  margin-top: 200px; }

.js .footnote-collection {
  flex: 1 0 30%;
  font-family: "Lora", "Palatino", "Georgia", serif; }
  .js .footnote-collection ul, .js .footnote-collection ol {
    list-style-type: none;
    margin: 0; }
  .js .footnote-collection ul.footnotes {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%; }
    .js .footnote-collection ul.footnotes li {
      line-height: 1.5em; }
    .js .footnote-collection ul.footnotes .desktop-footnote {
      position: absolute;
      right: 0;
      left: 0; }
  .js .footnote-collection .footnoteFields {
    border-left: solid 1px #D9D9D9;
    padding: 0 20px; }
    .js .footnote-collection .footnoteFields .footnoteNumber {
      float: left; }
    .js .footnote-collection .footnoteFields .footnoteContent {
      font-size: 14px;
      color: #808080; }
      .js .footnote-collection .footnoteFields .footnoteContent p {
        font-size: 14px;
        color: #808080;
        margin: 0 0 1em 0; }

.mobile-footnote {
  display: block;
  overflow: hidden;
  margin: 0 -20px;
  color: white;
  font-size: 14px;
  font-family: "Karla", "Arial", sans-serif;
  line-height: 17px;
  position: relative;
  overflow: hidden;
  display: flex; }
  .mobile-footnote p {
    font-size: 14px;
    margin: 0 0 1em 0;
    font-family: "Karla", "Arial", sans-serif; }
  .mobile-footnote sup {
    float: left;
    margin-right: 5px; }
  .mobile-footnote .pointer {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 15px;
    border-color: transparent transparent #dd1d00 transparent;
    position: absolute;
    top: -10px; }
  .mobile-footnote .wrapper {
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    background-color: #FF2200;
    padding: 20px 40px;
    margin-top: 10px;
    display: block; }
    .mobile-footnote .wrapper .close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px; }

.mobile-footnote-watched {
  -webkit-transition: max-height .25s;
  -moz-transition: max-height .25s;
  -ms-transition: max-height .25s;
  -o-transition: max-height .25s;
  transition: max-height .25s; }

.mobile-footnote-no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.mobile-footnote-noscroll {
  overflow: hidden; }

.mobile-footnote-scroll {
  overflow: auto; }

.footnoteCollection {
  font-family: "Lora", "Palatino", "Georgia", serif; }
  .footnoteCollection .footnoteFields {
    display: table;
    border-left: solid 1px #D9D9D9;
    padding: 1em; }
    .footnoteCollection .footnoteFields .footnoteNumber {
      float: left; }
    .footnoteCollection .footnoteFields .footnoteContent {
      font-size: 1.4em;
      color: #808080; }

.sympatheticHover--lower {
  outline: 1px solid #FF2200; }
  .sympatheticHover--lower li {
    color: black !important; }

.sympatheticHover--upper {
  outline: 1px solid #FF2200 !important; }

.footLink--lower, .footLink--upper {
  min-width: 1em;
  position: relative;
  font-family: "Lora", "Palatino", "Georgia", serif;
  border: none;
  color: #FF2200; }
  .footLink--lower:focus, .footLink--upper:focus {
    box-shadow: none;
    border-color: transparent; }
  .footLink--lower:before, .footLink--upper:before {
    content: '[';
    padding-right: 0.3em; }
  .footLink--lower:after, .footLink--upper:after {
    content: ']';
    padding-left: 0.3em; }
  .footLink--lower:hover, .footLink--upper:hover {
    border-color: transparent; }

.footLink--lower {
  margin: -0.5em 0;
  padding: 0.5em 0.25em 0.5em 0;
  font-size: 1.2em; }

.footLink--upper {
  margin: -0.5em -1.75em;
  padding: 0.5em 2em; }

@media (min-width: 992px) {
  .footnoteCollection .footnoteFields .footnoteNumber {
    font-size: 1.4em; } }
.socialButtons {
  text-align: center;
  color: #808080;
  margin: 45px auto;
  padding: 45px 0;
  max-width: 800px;
  overflow: hidden; }
  .socialButtons .nag, .socialButtons .sub-nag {
    font-family: "Karla", "Arial", sans-serif;
    text-transform: uppercase;
    display: block; }
  .socialButtons .nag {
    font-size: 2em; }
  .socialButtons .sub-nag {
    font-size: 2em; }
  .socialButtons a {
    font-size: 3em;
    margin-right: 0.5em;
    border: none;
    color: #808080; }
    .socialButtons a:hover {
      border: none; }
  .socialButtons .icon-twitter, .socialButtons .icon-facebook, .socialButtons .icon-reddit, .socialButtons .icon-mail {
    transition: color .25s;
    -moz-transition: color .25s; }
  .socialButtons .icon-twitter:hover {
    color: #55acee; }
  .socialButtons .icon-facebook:hover {
    color: #3b5998; }
  .socialButtons .icon-reddit:hover {
    color: #ff8b60; }
  .socialButtons .icon-mail:hover {
    color: black; }

@media (max-width: 768px) {
  .socialButtons {
    padding: 2em 0;
    margin: 5em 0; }
    .socialButtons .nag, .socialButtons .sub-nag {
      font-size: 1.3em; }
    .socialButtons .icon-twitter, .socialButtons .icon-facebook, .socialButtons .icon-reddit, .socialButtons .icon-mail {
      font-size: 0.7em; } }
.socialButtons {
  text-align: center;
  color: #808080;
  margin: 45px auto;
  padding: 45px 0;
  max-width: 800px;
  overflow: hidden; }
  .socialButtons .nag, .socialButtons .sub-nag {
    font-family: "Karla", "Arial", sans-serif;
    text-transform: uppercase;
    display: block; }
  .socialButtons .nag {
    font-size: 2em; }
  .socialButtons .sub-nag {
    font-size: 2em; }
  .socialButtons a {
    font-size: 3em;
    margin-right: 0.5em;
    border: none;
    color: #808080; }
    .socialButtons a:hover {
      border: none; }
  .socialButtons .icon-twitter, .socialButtons .icon-facebook, .socialButtons .icon-reddit, .socialButtons .icon-mail {
    transition: color .25s;
    -moz-transition: color .25s; }
  .socialButtons .icon-twitter:hover {
    color: #55acee; }
  .socialButtons .icon-facebook:hover {
    color: #3b5998; }
  .socialButtons .icon-reddit:hover {
    color: #ff8b60; }
  .socialButtons .icon-mail:hover {
    color: black; }

@media (max-width: 768px) {
  .socialButtons {
    padding: 2em 0;
    margin: 5em 0; }
    .socialButtons .nag, .socialButtons .sub-nag {
      font-size: 1.3em; }
    .socialButtons .icon-twitter, .socialButtons .icon-facebook, .socialButtons .icon-reddit, .socialButtons .icon-mail {
      font-size: 0.7em; } }
.no-js .story-primary, .no-js .story-secondary, .no-js .story-tertiary, .no-js .story-quaternary {
  border-bottom: 1px solid #808080;
  padding: 20px; }
  .no-js .story-primary a, .no-js .story-secondary a, .no-js .story-tertiary a, .no-js .story-quaternary a {
    color: black; }
.no-js .story-primary {
  margin-top: 60px; }

.js .story-menu {
  margin: 45px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .js .story-menu li {
    display: block;
    overflow: hidden;
    transition: background-color 0.25s ease; }
    .js .story-menu li:hover {
      background-color: #fcfcfc; }
    .js .story-menu li:nth-child(3), .js .story-menu li:nth-child(6) {
      border-right: none; }
.js .story-primary {
  flex: 0 0 100%;
  border-bottom: 1px solid #D9D9D9; }
  .js .story-primary .story-summary {
    padding: 20px; }
.js .story-secondary {
  flex: 0 0 calc(50% - 2px);
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9; }
  .js .story-secondary .story-summary {
    padding: 20px; }
.js .story-tertiary {
  flex: 0 0 calc(33.3% - 1px);
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9; }
  .js .story-tertiary .story-summary {
    padding: 20px; }
.js .story-quaternary {
  flex: 0 0 100%;
  border-bottom: 1px solid #D9D9D9; }
  .js .story-quaternary .story-summary {
    padding: 20px;
    border-right: none !important; }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .js .story-primary {
    flex: 3 0 96% !important; }
  .js .story-secondary {
    flex: 3 0 48% !important; }
  .js .story-tertiary {
    flex: 3 0 30% !important; } }
.js .story-summary {
  color: #333333;
  display: block;
  margin: 0;
  padding: 0; }
  .js .story-summary:hover {
    text-decoration: none;
    color: black; }
  .js .story-summary .story-summary-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .js .story-summary .story-summary-wrapper .cover-wrapper .cover-image {
      background-color: #D9D9D9;
      position: relative;
      background-repeat: no-repeat; }
      .js .story-summary .story-summary-wrapper .cover-wrapper .cover-image .story-title {
        position: absolute;
        font-size: 6em;
        z-index: 1;
        margin: 0;
        display: inline;
        color: white;
        font-family: "Open Sans", "Tahoma", "Verdana", sans-serif !important;
        text-transform: uppercase;
        font-weight: 800;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        line-height: 1.2em;
        opacity: 0; }
    .js .story-summary .story-summary-wrapper .info-wrapper .title {
      margin: 0 0 10px 0;
      font-family: "Karla", "Arial", sans-serif;
      text-transform: uppercase; }
    .js .story-summary .story-summary-wrapper .info-wrapper .excerpt {
      line-height: 1.5em;
      font-family: "Karla", "Arial", sans-serif; }
.js .summary-large .cover-wrapper {
  flex: 0 0 100%; }
  .js .summary-large .cover-wrapper .cover-image {
    padding-top: 47%;
    background-size: cover; }
.js .summary-large .info-wrapper {
  flex: 0 0 100%; }
  .js .summary-large .info-wrapper .excerpt {
    margin: 10px 0 0 0;
    font-size: 1.8em; }
.js .summary-medium .cover-wrapper {
  flex: 0 0 100%; }
  .js .summary-medium .cover-wrapper .cover-image {
    padding-top: 67%;
    background-size: contain; }
.js .summary-medium .info-wrapper {
  flex: 0 0 100%; }
  .js .summary-medium .info-wrapper .excerpt {
    margin: 10px 0 0 0;
    font-size: 1.8em; }
.js .summary-small .cover-wrapper {
  flex: 0 0 25%; }
  .js .summary-small .cover-wrapper .cover-image {
    padding-top: 67%;
    margin: 0 20px 0 0;
    background-size: cover; }
.js .summary-small .info-wrapper {
  flex: 0 0 75%; }
  .js .summary-small .info-wrapper .excerpt {
    font-size: 1.8em; }

@media (max-width: 768px) {
  .js .summary-large .cover-wrapper .cover-image {
    padding-top: 67%; }
  .js .story-menu .story-secondary, .js .story-menu .story-tertiary, .js .story-menu .story-quaternary {
    flex: 0 0 100%;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #D9D9D9; }
  .js .summary-small .cover-wrapper {
    flex: 0 0 100%; }
    .js .summary-small .cover-wrapper .cover-image {
      padding-top: 67%;
      background-size: contain;
      margin: 0; }
  .js .summary-small .info-wrapper {
    flex: 0 0 100%; }
    .js .summary-small .info-wrapper .excerpt {
      margin: 10px 0 0 0;
      font-size: 1.8em; } }
.footer-nav {
  text-align: center;
  font-family: "Karla", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin: 200px 0 20px 0;
  word-spacing: 2em; }
  .footer-nav a {
    color: #333333;
    border-bottom: 2px solid #FF2200; }
    .footer-nav a:hover {
      border-bottom: #545454 2px solid;
      color: #333333; }

@media (max-width: 768px) {
  .footer-nav {
    word-spacing: inherit;
    text-align: center; }
    .footer-nav a {
      margin-bottom: 1em;
      line-height: 2em; }
      .footer-nav a:after {
        content: "\a";
        white-space: pre; } }
footer {
  display: block;
  color: #808080;
  margin-top: 300px;
  margin-bottom: 300px; }
  footer .footer-meta {
    border-top: 1px solid #D9D9D9;
    padding: 20px; }
  footer p {
    font-family: "Lora", "Palatino", "Georgia", serif;
    font-size: 1.2em; }
  footer h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: "Karla", "Arial", sans-serif; }
